/*
 * Copyright 2010, Google Inc.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 *     * Redistributions of source code must retain the above copyright
 * notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above
 * copyright notice, this list of conditions and the following disclaimer
 * in the documentation and/or other materials provided with the
 * distribution.
 *     * Neither the name of Google Inc. nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 * THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#cuecard-examples-dialog {
    position: relative;
    overflow: hidden;
}

.cuecard-examples-dialog-columnHeader {
    font-weight: bold;
    position: absolute;
    top: 10px;
    height: 20px;
}
.cuecard-examples-dialog-columnBody {
    position: absolute;
    top: 35px;
    overflow: auto;
    border: 1px solid #ccc;
}

.cuecard-examples-dialog-column-0 {
}

.cuecard-examples-dialog-column-1 {
}

.cuecard-examples-dialog-column-2 {
}

a.cuecard-examples-example {
    display: block;
    text-decoration: none;
    padding: 0.25em 0.5em;
    border-bottom: 1px solid #ddd;
}

a.cuecard-examples-example:hover {
    background: #eee;
}

.cuecard-examples-example-selected {
    background: #FFFFE0;
}

a.cuecard-examples-technique {
    display: block;
    text-decoration: none;
    padding: 0.25em 0.5em;
    border-bottom: 1px solid #ddd;
}

a.cuecard-examples-technique:hover {
    background: #eee;
}

.cuecard-examples-technique-selected {
    background: #FFFFE0;
}

textarea.cuecard-examples-query {
    border: 1px solid #ccc;
    font-family: monospace;
    font-size: 9pt;
}