.page-meta {
    position: relative;
    background: #fff;
    border: 5px solid #e4e6e7;
    .rounded_corners(10px);
    padding: 1em;
}

.page-meta h1 {
    font-size: 2.4em;
    color: #64768f;
    line-height: 1;
}

h1 .flags {
    font-size: 11px;
    color: #555;
}

.page-meta h1 .key {
    font-size: 12px;
    color: #666;
}

.admin-toolbox {
    position: absolute;
    top: 0; right: 0;
}

.creation-timestamp {
    float: left;
    background: #e4e6e7;
    padding: 0 0.7em;
    font-size: 1.2em;
    line-height: 3;
    border: 1px solid #e4e6e7;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}

.admin-toolbox .edit {
    float: left;
    font-size: 11px;
    line-height: 3.5;
    padding-right: 1em;
}

.creation-timestamp .user-image {
    float: left;
    margin-right: 3px;
}

.creation-timestamp .user-image img {
    border: 3px solid #dcdedf;
}

.creation-timestamp .published {
    color: #333;
}


/*
User thumbnail list
TODO: These should be moved once the full user thumbnail
spec has been implemented, including complete vcards, tooltips, etc.
*/

.user-list-title {
  margin: 0.8em 0;
   font-size: 1.2em;
font-weight: bold;
}

.user-list .vcard {
    list-style: none;
    float: left;
    margin-right: 7px;
}


.meta {
    background: url(ui-icons.png) no-repeat 0 -172px;
    padding-top: 8px;
    padding-left: 25px;
    margin-left: 7px;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    line-height: 1;
}

.meta .key,
.meta .included-types,
.meta .display-type {
    padding-right: 7px;
}

.page-meta #description p {
    width: 80%;
}

.page-meta .blurb {
    display: inline;
    font-size: 12px;
}

.page-meta .blob {
    display: none;
    font-size: 12px;        
}

.page-meta .nav {
    border-top: 1px solid #e4e6e7;
    margin: 1em -1em -1em;
}

.nav-utilities { 
    float: right;
}

.nav-mode li,
.nav-utilities li {
    float: left;
    list-style: none;
    line-height: 1;
}

.nav-mode li {
    border-right: 1px solid #e4e6e7;
}

.nav-utilities li {
    border-left: 1px solid #e4e6e7;
}

.nav-mode a,
.nav-utilities a {
    display: block;
}

.nav-mode a {
    font-size: 1.4em;
    line-height: 2.5;
    font-weight: bold;
    padding: 0 1em;
    color: #888;
    background: #efefef;
    .linear_gradient(#fff, #ececec);
}

.nav-mode a.current {
    background: #fff;
    .linear_gradient(#ececec, #fff);
}

.nav-utilities li a {
    font-size: 1.2em;
    line-height: 1;
    padding: 7px 1.2em;
}


