/*
 * Copyright 2012, Google Inc.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 *     * Redistributions of source code must retain the above copyright
 * notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above
 * copyright notice, this list of conditions and the following disclaimer
 * in the documentation and/or other materials provided with the
 * distribution.
 *     * Neither the name of Google Inc. nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 * THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

/*
 ### Page Structure
*/
#tabbar {
  padding-bottom: 12px;
}

.pill-box.disabled {
    opacity: .5;

    .pill-x {
        display: none;
    }

    .pill-suggest {
        display: none;
    }
}

.filter-options {
    font-size: 1.3em;
    margin-right: 250px;
}
.filter-options .sep {
    display: inline-block;
    font-weight: bold;
    margin: 0 4px 0 4px;
}


#pill-filter-box {
    margin-right: 250px;
    margin-bottom: 12px;
}

#pill-filter-suggest {
    width: 325px;
}

#by-creator {
  float: right;
  width: 240px;
  padding-left: 10px;
  white-space: nowrap;
}
#pill-creator-box {
    display: inline-block;
    margin-left: 10px;
    width: 210px;
}
#pill-creator-suggest {
    width: 200px;
}

td.desc {
  max-width: 80%;
  white-space: normal !important;
}

td.break {
  max-width: 200px;
  white-space: normal !important;
  word-break: break-all !important;
}

.lang,
.unit,
.cvt,
.name,
.empty,
.self {
  word-break: normal !important;
  color: rgba(0, 0, 0, 0.5) !important;
}

.time {
  word-break: normal !important;
  color: rgba(0, 0, 0, 0.3) !important;
}

a.cvt {
  display: inline-block;
  padding-right: 20px;
  text-decoration: none;
}
.data-row:hover a.cvt {
  background: url("/static/lib.www.trunk.svn.freebase-site.googlecode.dev/template/img/ui-icons.png") no-repeat right -558px;
}
.data-row:hover a.cvt:hover {
  background: url("/static/lib.www.trunk.svn.freebase-site.googlecode.dev/template/img/ui-icons.png") no-repeat right -585px;
}

.data-row:hover a.cvt.expanded,
a.cvt.expanded {
  background: url("/static/lib.www.trunk.svn.freebase-site.googlecode.dev/template/img/ui-icons.png") no-repeat right -503px;
}

.data-row:hover a.cvt.expanded:hover,
a.cvt.expanded:hover {
  background-position: right -530px;
}

.cvt-row {
  background: rgba(0, 0, 0, 0.1);

  .nicemenu {
    visibility: hidden !important;
  }
}

.fullts,
.fullattr {
    display: none;
}
.fullattr {
    padding-left: 12px;
    list-style: none;
}

.wrapper {
  position: relative;
  display: inline-block;
  padding-left: 8px;
}

