[
  "lib/template/css/mixins.less",
  "lib/template/freebase.ui.mf.css",
  "lib/template/css/freebase.ui.combomenu.less",
  "lib/template/css/freebase.ui.infinitescroll.less",
  "lib/template/css/freebase.ui.propbox.less",
  "lib/template/css/freebase.ui.datainput.less",
  "lib/template/css/freebase.ui.i18n.less",
  "lib/filter/filters.mf.css",
  "css/sameas.less"
]
