body {
  color: #444;
}

.page-header {
    height: 50px;
    background: #404859;
    color: #fff;    
}

#page-title {
    font-size: 2.1em;
    font-weight: normal;
    margin-bottom: 0;
    padding: 0.55em 30px;
}

#path {
  font-size: 110%;
  margin-left: 0.5em;
  color: #888;
}

#views { 
  float: right; 
  font-size: 100%; 
  padding-right: 0.3em; 
}

#schemaviz {
  border: 1px solid #ccc;
  padding: 0.3em 0.6em;
  margin: 2em 0em 1em 0em;
  color: #333;
  font-size: 100%;
  background-color: #fff;
}

#body #schemaviz h2 {
  margin: 0em 0em 0em 0em;
  color: #888;
}

#schemaviz .map {
  padding: 1em;
}

#schemaviz .map img {
  height: 150px;
  width: 100%;
}

#body {
  font-size: 110%;
  margin: 2em 2em 70px 2em;
}

#body h1 {
  font-family: Tahoma;
  font-size: 200%;
  margin-bottom: 0.2em;
}

h1 span.type {
  color: #aaa;
  font-size: 60%;
  position: relative;
  bottom: 0.8em;
  right: 0.1em;
}

#body h2 {
  color: #888;
  font-size: 140%;
  margin: 1em 0em 0.3em 0em;
}

#body .table_box {
  border-left: 1px solid #ccc;
}

#body .table_box h2 {
  font-family: verdana;
  padding-left: 0.5em;
  letter-spacing: 0.15em;
  color: #666;
}      

#nav-footer {
  padding-bottom: 1.4em;
}

#description {
  border: 1px solid #ccc;
  padding: 0.6em;
  margin: 1em 0em 1em 0em;
  color: #333;
  width: 50%;
  font-size: 100%;
  background-color: #fff;
}

#links {
}

#links a {
  padding-right: 5em;
}

#links big {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.1em 0.2em;
}

.tools {
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 2em 0em;
  padding: 0.5em;
}

#body .tools h1 {
  margin: 0em 0em 0.6em 0em;
  font-size: 130%;
  color: #888;
}

.tools a.spaced {
  padding-right: 3em;
}

#error {
  margin: 7em auto;
  padding: 2em;
  width: 50%;
  font-size: 150%;
  text-align: center;
  border: 1px solid #a9e9fb;
  background-color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
  
em {
  color: #FF7711;
}

th {
  border-bottom: 1px solid #ccc;
  padding: 0.2em 1em;
  font-weight: bold;
}

td {
  padding: 0.1em 1em;
}

th.numeric, td.numeric {
  text-align: right;
}

th.flag, td.flag {
  text-align: center;
}

li {
  margin-left: 3em;
}

.cvt td {
  color: #888;
}

p {
  margin: 1em 0em;
}

small {
  font-size: 80%;
}

big {
  font-size: 120%;
}

/* index page */
th a span {
  font-size: 80%;
}

/* type page */
.local td {
  color: #aaa;
}
.extends {
  font-family: Monaco,Courier,monospaced;
  font-size: 50%;
  color: #555;
  margin: 0em 2em;
}
.included_type {
  font-size: 90%;
  margin: 0em 0em;
}

/* property page */
.skeleton {
  font-size: 150%;
  border-collapse: separate;
  border-spacing: 1em;   
}

.skeleton td {
  vertical-align: middle;
  text-align: center;
}      

.subject, .object {
  border: 1px solid #ccc;
}

.predicate {
  border-bottom: 1px solid #ccc;
  background-image: url(right_arrow.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 0.3em 2em;
}

.rev_predicate {
  border-top: 1px solid #ccc;
  background-image: url(left_arrow.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding: 0.3em 2em;
}    

.attribute {
  color: #aaa;
  font-size: 60%;
  position: relative;
  bottom: 0.8em;
  margin-right: 0.5em;
}

.current {
  font-size: 150%;
}
