[
  "lib/template/css/mixins.less",
  "lib/template/css/freebase.ui.infinitescroll.less",
  "lib/template/css/freebase.ui.table.less",
  "lib/template/css/freebase.ui.propbox.less",
  "lib/template/css/freebase.ui.pill.less",
  "css/search.less"
]
