ul.bar-graph {
  list-style: none;
  margin: 0;
}

#content li.bar-graph-item {
  margin-bottom: 1px;
  line-height: 1;
  padding: 0;
  .rounded_corners();
  font-size: 11px;
}

.bar-graph-item-name,
.bar-graph-values,
.bar-graph-value {
  float: left;
}

.bar-graph-item-name,
.bar-graph-value b {
  padding: 0.4em 0.5em;
}

.bar-graph-item-name {
  width: 26%;
  margin-right: 4%;
  padding-right: 0;
  padding-left: 0;
  text-align: right;
}

.bar-graph-values {
  width: 70%;
  -webkit-animation-duration:0.5s;
  -webkit-animation-iteration-count:1;
  -webkit-animation-timing-function:ease-out;
  -webkit-animation-name: bars;
}


.bar-graph-value {
  color: #fff;
  text-shadow: 0 0 2px #999;
  min-width: 20px;
  text-align: right;
}

.bar-graph-value b {
  display: inline-block;
}

.bar-graph-value.incoming {
  background: #aaa;
  .rounded_corners_leftside(2px);
}

.bar-graph-value.outgoing {
  background: #999;
  .rounded_corners_rightside(2px);
}

.bar-graph-item a {
  display: block;
  color: #666;
  border-left: 2px solid transparent;
}

.bar-graph-item a:hover {
  border-color: @link-blue;
  text-decoration: none;
}
