.page-meta {
    position: relative;
    background: #fff;
    border: 5px solid #e4e6e7;
    .rounded_corners(10px);
    padding: 1em;
}

.page-meta h1 {
    font-size: 2.4em;
    color: #64768f;
    line-height: 1;
}

h1 .flags {
    font-size: 11px;
    color: #555;
}

.page-meta h1 .key {
    font-size: 12px;
    color: #666;
}

.admin-toolbox {
    position: absolute;
    top: 0; right: 0;
}

.creation-timestamp {
    float: left;
    background: #e4e6e7;
    padding: 0 0.7em;
    font-size: 1.2em;
    line-height: 3;
    border: 1px solid #e4e6e7;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}

.admin-toolbox .edit {
    float: left;
    font-size: 11px;
    line-height: 3.5;
    padding-right: 1em;
}

.creation-timestamp .user-image {
    float: left;
    margin-right: 3px;
}

.creation-timestamp .user-image img {
    border: 3px solid #dcdedf;
}

.creation-timestamp .published {
    color: #333;
}


/*
User thumbnail list
TODO: These should be moved once the full user thumbnail
spec has been implemented, including complete vcards, tooltips, etc.
*/

.user-list-title {
    margin: 0.8em 0;
    font-size: 1.2em;
    font-weight: bold;
}

.user-list .vcard {
    list-style: none;
    float: left;
    margin-right: 7px;
}

