/* Modal Dialogs */

.modal {
    position:absolute;
    width: 55em; /* we should remove this before production */
    border: 5px solid #dcdbdc;
    background: #f0f2f3;
    padding: 1em;
    .rounded_corners();
}

.modal-inner {
    background: #fff;
    border: 1px solid #dcdbdc;
    .rounded_corners();
}

.modal-title {
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 1px solid #dcdbdc;
    padding: 7px 10px;
}

.modal-buttons {
    margin-top: 1em;
}

.modal-content {
    padding: 0 10px 20px 10px;
}

.modal-content .form-label {
    font-size: 1.2em;
    margin-top: 1em;
}

.modal-content .textarea {
    clear: left;
    width: 93%;
}

.modal-content .text-input {
    width: 90%;
}
