/*
 * Copyright 2010, Google Inc.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 *     * Redistributions of source code must retain the above copyright
 * notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above
 * copyright notice, this list of conditions and the following disclaimer
 * in the documentation and/or other materials provided with the
 * distribution.
 *     * Neither the name of Google Inc. nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 * THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#article-content { margin: 20px; }
#article-content h1 { color: #222; font-size: 2.0em; margin-bottom: 1.3em; }
#article-content h1 em { color: #f71; }
#article-content h2 { color: #f60; font-size: 1.4em; margin: 20px 0 0 0;  }
#article-content h3 { color: #444; font-size: 1.3em; font-weight: bold; }
#article-content h4 { color: #444; font-size: 1.1em; font-weight: bold; margin: 10px 0 -8px 15px; }
#article-content p, #article-content dl { margin: 8px 0; font-size: 1.4em; line-height: 1.3em; }
#article-content tt, #article-content code, #article-content pre { font-family: "Droid Sans Mono", "Andale Mono", Monaco, "Courier New", Courier; color: #000; }
#article-content .deprecation { color: #c00; }
#article-content small { font-size: 0.9em; }
#article-content pre { font-size: 1.3em; }
#article-content em { color: #f71; }
#article-content strong { color: #000; }
#article-content dt { margin: 16px 0 0 0; font-size: 1.1em; text-decoration: none; }
#article-content dt strong { margin: 0 10px 0 0; }
#article-content dt.deprecated strong { color: #c00; text-decoration: line-through; }
#article-content dt em, #article-content dd em { color: #396; }
#article-content dt em { font-size: 0.9em; }
#article-content dt .icon-codesearch { padding: 0 0 0 10px; }
#article-content dd { margin: 2px 0 12px 0; }
#article-content dd pre, #article-content dd blockquote { font-size: 1em; }
#article-content ul, #article-content ol { margin: 0 0 10px 0; }
#article-content li { margin: 8px 0 8px 25px; font-size: 1.3em; }
#article-content li blockquote pre { font-size: 1em; }
#article-content ul li { list-style-type: disc; }
#article-content ol li { list-style-type: decimal; }
#article-content li p, #article-content dd p, #article-content dd li { font-size: 1.0em; }
#article-content table { margin: 10px; font-size: 1.3em; border: 3px double #ddd; }
#article-content th { font-weight: bold; padding: 5px; background: #f5fbff; text-align: right; border: 1px solid #ddd; }
#article-content .th-top th { text-align: center;  }
#article-content td { margin: 10px; padding: 5px;  border: 1px solid #ddd; }
#article-content td p { font-size: 1em; margin: 0; }
#article-content td pre { font-size: 1em; }  
#article-content blockquote { border: 1px #ddd solid; padding: 4px 8px; margin: 8px 0 16px 15px; background: #f5f5f5; color: #000; font-size: 1.3em; overflow: auto; }
#article-content blockquote p { font-size: 1em; }
#article-content blockquote h4 { margin: 10px 0 0 0; }
#article-content blockquote pre { font-size: 1em; }
#article-content blockquote ul { list-style-position: inside; }
#article-content blockquote table { font-size: 1em; }
#article-content blockquote th, #article-content blockquote td, #article-content blockquote li { font-size: 1em; }
#article-content .chapter h2 { margin-bottom: 1.5em; }
#article-content .section h1 { color: #f60; font-size: 1.4em; margin: 20px 0 0 0;  }
#article-content .recipe .title { font-weight: bold; }
#article-content .recipe-content { padding: 0.5em 1em; border: 1px solid #ccc; margin: 0.5em; }
#article-content .recipe blockquote pre code { font-size: 0.8em; }