.data-row{
  .wrapper {
    position: relative;
    display: inline-block;
    padding-right: 45px;
  }
}

tr .combo-menu {
  top: -5px;
}

.missing {
    color: #FAC;
}

.form-row {
    padding: 5px 15px;
}
