[apptests]
# some tests write, put a valid username and password here...
username = youruser
password = yourpassword
freebase_service_host = sandbox-freebase.com
freebase_service_port = 80
# to not use mocked urlfetches, set to 0
mox = 1
# e.g. acre_service_host = acre.myhost.com
acre_service_port = 8115
# e.g apps_path =  /home/foo/acre/webapp/WEB-INF/scripts/freebase/site
apps_path =  /home/bneutra/fs/build/acre/webapp/WEB-INF/scripts/freebase/site

# space separated list of apps in apps_path, optional
app_list = 
