
#content-wrapper {
    padding-right: 270px;
}

#content-main {
    float: left;
    display: inline;
    margin-right: -100%;
    width: 100%;
}

#content-sub {
    float: right;
    display: inline;
    width: 27em;
    margin-right: -27em;
    margin-top: 5px;
    position: relative;
}

#content-sub p,
#content-sub ul {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

#content-sub ul {
    font-weight: bold;
    margin-left: 17px;
}

#content-sub ul li {
    padding: 0.2em 0;
}

#content-sub h3 {
    font-size: 1.4em;
    font-weight: bold;
}

#content-sub .content-wrapper {
    margin-left: 3em;
}

