
#page-content {
  position: relative;
  padding-left: 40px;
}

.wrapper {
  position: relative;
  display: inline-block;
}

.missing {
    color: #FAC;
}

.form-row {
    padding: 5px 15px;
}

.time {
  word-break: normal !important;
  color: rgba(0, 0, 0, 0.3) !important;
}
