#content {
}

#overview {
  .linear_gradient(#f1f2f3, #fff);
}

#overview h2 {
  margin-left: 10px;
  font-weight: normal;
  font-size: 2.1em;
}

.section {
  background: #fff;
  .box_shadow(1px, 2px, 3px, #bbb);
}

.sub-section {
  float: left;
  background: #fff;
  width: 33.3%;
  border-right: 1px solid #ddd;
}

.sub-section .table {
  margin: 10px;
  margin-bottom: 2em;
  width: 90%;
}
.section h1,
.sub-section h1 {
  font-size: 1.6em;
  font-weight: normal;
  padding: 4px 10px;
  text-shadow:1px 1px 1px #fff;
  .linear_gradient(#f8f8f8, #e1e2e3);
}

.recent-activity-summary {
  border-top: 1px solid #d1d2d3;
  font-size: 1.4em;
  background: #d1d2d3;
  margin-bottom: 1.6em;
  padding: 5px 10px;
}

#facts-by-domain-chart {
  text-align: center;
  padding-bottom: 2em;
}

#facts-by-domain-chart img {
  max-width: 100%;
  margin: 0 auto;
}

#placeholder-primitives {
  max-width: 100%;
  height: 150px;
  margin: 2em 10px;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
}

.bignumber {
  font-weight: bold; 
}

.topicstableheader {
  font-weight: bold; 
  padding: 3px; 
  border-bottom: 1px solid; 
  background-color: #cccccc;
}

#activity-header {
  overflow: auto;
}

.real-user {
  background-color: #eeeeee;
}

td { padding: 2px; }

.limited {
  font-weight: bold;
  color: red;
}
