.section {
  background: #fff;
  padding: 15px;
  .box_shadow(1px, 2px, 3px, #bbb);
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
}

.bignumber {
  font-weight: bold; 
}

.topicstableheader {
  font-weight: bold; 
  padding: 3px; 
  border-bottom: 1px solid; 
  background-color: #cccccc;
}

.section {
  float: left;
  margin-top: 20px;
  margin-right: 20px;
}

#activity-header {
  overflow: auto;
}

.real-user {
  background-color: #eeeeee;
}

td { padding: 2px; }

.limited {
  font-weight: bold;
  color: red;
}
