body {
    overflow: hidden;
}

#links {
    float: right;
}

#qe-container {
    position: relative;
    left: 0px;
    right: 0px;
}

.cuecard-queryEditor-content {
    background: white;
}

#the-query-editor {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}
#the-control-pane {
    overflow: hidden;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
#the-output-pane {
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
}

#the-splitter {
    position: absolute;
    background: url(splitter.png) center no-repeat;
    cursor: pointer;
}

div.cuecard-popup-container {
    font-size: 120%;
}

#starting-message-container {
  position: absolute;
  top: 0px;
  left: 40%;
  width: 20%;
}

#starting-message {
  padding: 1em;
  background: #ffffe0;
  border: 1px solid #ddd;
  border-top: none;
  text-align: left;
  font-size: 120%;
  width: 20em;
}
