.popup {
   z-index: 100;
   background-color: rgba(0,0,0,0.8);
   .rounded_corners(5px);
}

.toolbox-header {
    font-size: 1.2em;
    color: #fff;
    border-top: 1px solid #6a6a6a;
}

.toolbox-header a.help, 
.toolbox-footer a {
    color: orange;
}

.toolbox-header a {
    float: right;
}

.toolbox-search input {
   
}

.toolbox-content ul {
    height: 30em;
    overflow-y: scroll;
    width: 29em;
    margin: 0 0.3em;
}

.toolbox-content li {
   
    list-style-type: none;
    margin: 0 0 0.1em 0;
    width: 27.4em;
}

.toolbox-content a {
    display: block;
    background: #fff;
    -moz-border-radius-topleft: 5px; 
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px; 
    -webkit-border-bottom-left-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 2.3;
    padding: 0 0.5em;
}