::selection {
  background: #ff8123;
  color: #111;
}

.nav.column {
  float: left;
  width: 230px;
  margin-right: 20px;
}

.section.domain {
  margin-left: 250px;
  background: #fff;
  padding: 15px;
  .box_shadow(1px, 2px, 3px, #bbb);
}

.section h1 {
  font-size: 16px;
  padding: 0 15px;
  margin-bottom: 15px;
}

.data-table {
  width: 100%;
}

.foobar {
  position: relative;
  z-index: 1;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 15px;
  .box_shadow(0, 1px, 2px, #aaa);
  .linear_gradient(#ccc, #c1c2c3);
}

.foobar span {
  font-weight: normal;
}

.sub-foobar {
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid #d5d7d8;
  .linear_gradient(#f7f7f7, #eaeaea);
}

.sub-foobar .more {
  float: right;
}

.data-list {
  list-style: none;
}

.data-list li {
  font-size: 12px;
  line-height: 1;
  padding: 5px 15px;
}

.data-table th,
.data-table td {
  font-size: 12px;
}

.data-table thead th,
.data-table thead td {
  font-size: 11px;
  font-weight: bold;
  color: #444;
  padding-bottom: 5px;
}

.data-table tbody th,
.data-table tbody td {
  padding: 5px 3px 5px 0;
  border-top: 1px solid #d5d7d8;
}

.data-table tbody tr th:first-child,
.data-table thead tr th:first-child {
  padding-left: 15px;
}
