
#page-content {
  position: relative;
  padding-left: 40px;
}

.wrapper {
  position: relative;
  display: inline-block;
  padding-left: 8px;
}

/** override outermenu positioning **/
.data-row .outer-menu {
  left: -36px;
}

.missing {
    color: #FAC;
}

.form-row {
    padding: 5px 15px;
}
