[
  "lib/template/freebase.ui.mf.css",
  "lib/template/freebase.ui.stats.less",
  "lib/template/freebase.ui.masthead.less",
  "lib/template/freebase.ui.i18n.less",
  "lib/template/freebase.ui.tabs.less",
  "lib/template/freebase.ui.datainput.less",
  "browse.less"
]