/*
 * Copyright 2012, Google Inc.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 *     * Redistributions of source code must retain the above copyright
 * notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above
 * copyright notice, this list of conditions and the following disclaimer
 * in the documentation and/or other materials provided with the
 * distribution.
 *     * Neither the name of Google Inc. nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 * THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

.flag-content {
    position:relative;
    float: left;
    width: 100%;
    height: 100%;
}
#page-discuss-wrapper {
    padding-right: 20px;
}
.discuss-content {
    background-color: #fff;
    display:none;
    float: right;
    width: 0;
    height: 100%;
}
.topic-frame {
    overflow:hidden;
}
.topic-frame-left {
    float: left;
    width: 49%;
    padding-right: 5px;
}
.topic-frame-right {
    float: left;
    width: 49%;
    padding-left: 5px;
    border-left: 1px solid gray;
}
.flagreview-separator {
    height: .1px;
    background-color: #999;
}
.flagreview-header {
    position:relative;
    height: 100%;
    background-color: #fcf3db;
    padding: .5em;
    margin: 0;
    border-bottom: 1px solid #a4a4a4;
    min-height: 60px;
}
.flagreview-title {
    margin-left: 20px;
    color: #ff8321;
    font-size: 2.5em;
}
.flagreview-title > a {
    color: #ff8321;
}
.flagreview-admin-message {
    font-size: .45em;
}
.flagreview-left {
    float: left;
}
.flagreview-right {
    position:absolute;
    right: 5px;    
    width:300px;
    height:90%;
}
.vote-choices {
    margin-left: 20px;
    padding-top: 5px;
    margin-bottom: 5px;
}
.vote-form {
    display: inline;
}

.vote-label {
    color: #676767;
    font-size: 120%;     
}
.vote-separator {
    padding: 8px 0 8px 15px;
    border-left: 1px dotted #676767;
}
.flag-creator-info {
    float:right;
    display:block;
    clear:both;
}
.flagreview-bottomright {
    position:absolute;
    width: 300px;
    bottom: 0;    
}
.flag-options {
    float:right;
    clear:both;  
}
.sharing-options {         
    float:right;    
    display:none;
    clear:both;
}

