/*
 ### Page Structure
*/
#page-content {
  position: relative;
}

#tabbar {
  padding-bottom: 12px;
}

#types-toggle {
    float: right;
    font-size: 1.4em;
    width: 230px;
    padding-left: 6px;
    margin-top: 12px;
    text-align: center;
}

#types-toggle a {
    padding-left: 16px;
    background: url("/static/lib.www.trunk.svn.freebase-site.googlecode.dev/template/img/ui-icons.png") no-repeat 0 -558px;
}
#types-toggle a:hover {
    background: url("/static/lib.www.trunk.svn.freebase-site.googlecode.dev/template/img/ui-icons.png") no-repeat 0 -585px;
}

#types-toggle a.expanded {
    background: url("/static/lib.www.trunk.svn.freebase-site.googlecode.dev/template/img/ui-icons.png") no-repeat 0 -503px;
}
#types-toggle a.expanded:hover {
    background: url("/static/lib.www.trunk.svn.freebase-site.googlecode.dev/template/img/ui-icons.png") no-repeat 0 -530px;
}


.toc-domain {
    border-top: 1.5px solid #D4DDE3;
}

.toc-domain a {
    font-size: 16px;
    color: #80A0B2;
    position: relative;
    top: -12px;
    background: white;
    padding: 0px 6px;
    left: 14px;
}
.toc-domain a:hover {
    text-decoration: none;
}
 
.toc-type a {
    font-size: 14px;
}
ul.toc-types {
    padding: 0px 20px 12px;
    position: relative;
    top: -12px;
}



#pill-filter-box {
    border: 1px solid rgb(225, 226, 227);
    background: white;
    margin-right: 250px;
}

#pill-filter-suggest {
    padding: 5px;
    width: 325px;
    font-size: 1.2em;
    line-height: 1.3;
    border: 0;
}

.pill {
    font-size: 1.2em;
    margin: 0 4px;
    padding: 0 4px;
    border: 0;
    border: 1px solid #FFD02F;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px 8px 8px 8px;
    .linear_gradient(#FFD02F, #FEB22A);
}

.pill:hover {
    border: 1px solid #FEB22A;
    .linear_gradient(#FEB22A, #FFD02F);
}

a.pill-text {
    color: black;
}
a.pill-x {
    color: white;
    padding-left: 12px;
}
a.pill-text:hover,
a.pill-x:hover {
    text-decoration: none;
}

.nav.column {
    display: none;
    float: right;
    width: 230px;
}

.nav-module {
    background: white;
    padding-top: 16px;
}

.nav-section ul,
.nav-section li {
  list-style: none;
}

.fixed-nav.column {
    position: absolute;
}

.domain-section {
    padding-top: 16px;
}

.type-section {
  margin: 0 0 20px;
  padding: 15px;
  background: #fff;
  .box_shadow(1px, 2px, 3px, #bbb);
}

.domain-section .header {
    font-weight: normal;
    border-top: 1.5px solid #D4DDE3;
}

.domain-section h1 .mark {
    position: relative;
    top: -12px;
    padding: 0px 6px 0 16px;
    background: rgb(232, 235, 238);
    left: 14px;
}
a.domain-name {
    color: rgb(128, 160, 178) !important;
}


/*
 ### Domain Box Styling
*/

/* The Domain Name */
.section h1 {
  font-size: 16px;
  margin-bottom: 8px;
}

/* Domain status: Commons, Base, Unpublished, etc.*/
.header .status {
  float: right;
  margin-top: 7px;
  margin-right: 15px;
  font-size: 11px;
  color: #aaa;
  padding-left: 20px;
}

/*
 * Styling for Commons vs User Domain
 */

.status.commons,
.status.user {
  background: url(lib/template/img/ui-icons.png) no-repeat;
}

.status.commons {
  background-position: 0 -1389px;
}

.status.user {
  background-position: 0 -1417px;
}


/* menu styling for property value triggers */

.data-table tr.current li {
  list-style: none !important;
}

.kbs.row-hover .combo-menu {
  visibility: visible;
}

#page-content .combo-menu li,
#page-content .combo-menu li {
  background-image: none;
}

.row-menu {
  .rounded_corners(0);
}


/*
Keyboard Shortcuts cheatsheet
*/

.keyboard-shortcuts {
  text-align: center;
  font-size: 12px;
  background: transparent;
  border: 0;
  .box_shadow(0,0,0);
}

.keyboard-shortcuts a {
  display: inline-block;
  padding-bottom: 3px;
  color: #666;
  padding-left: 40px;
  background: url(lib/template/img/keyboard.png) no-repeat left top;
}

.key-map {
  font-size: 12px;
  margin: 10px 0;
}

.key-symbol {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 14px;
  padding: 5px;
  border: 1px solid #d1d2d3;
  margin-right: 5px;
  .linear_gradient;
}

.key-desc {
  display: inline;
}




/*
/*
 * Flag > Merge dialog 
 */

.merge-topic {
  width: 100%;
}

.merge-topic tr:first-child td {
  border-bottom: 1px solid #d1d2d3;
}

.merge-topic td {
  padding: 20px 10px;
  font-size: 11px;
}

.merge-topic td.label {
  width: 60px;
  text-align: right;
  color: #ccc;
  padding-right: 15px;
  vertical-align: middle;
}

.label .form-label {
  margin: 0;
  font-size: 18px;
  font-weight: lighter;
}

.flag img {
  float: left;
  margin: 0 10px 5px 0;
  border: 3px solid #e1e2e3;
  .rounded_corners;
}

.merge-topic p,
.merge-topic .topic-title {
  font-weight: bold;
}

.merge-topic .topic-title {
  margin-top: 5px;
}

.merge-topic p strong {
  display: block;
  margin-bottom: 5px;
}


/*
 * Add Type Results 
 */

.add-type-result-msg,
.add-type-result-msg-note {
  margin: -15px;
  margin-bottom: 15px;
  font-size: 12px;
  padding: 5px 30px;
}

.add-type-result-msg .close-msg,
.add-type-result-msg-note .close-msg {
  display: none;
}

.add-type-result-msg {
  font-weight: bold;
  color: #252525;
  background-color: #a4ce9a;
  background-image: -webkit-repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 2px, rgba(255,255,255,0) 2px, rgba(255,255,255,0) 4px);
  background-image: -moz-repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 2px, rgba(255,255,255,0) 2px, rgba(255,255,255,0) 4px);
}

.add-type-result-msg-note {
  background: #e8f0db; 
  padding: 10px 30px;
}


/**
 * For now, don't show /type/object/key and /type/object/type
 */
.property-section[data-id="/type/object/type"],
.property-section[data-id="/type/object/key"] {
  display: none;
}

