.authority {
    display: block;
    padding-left: 25px;
    background: transparent url(lib/template/favicons.png) no-repeat scroll 0px 0px;
}

.ie7 .authority {
    padding: 0 0 0.5em 2em;
}

.authority a {
}

.authority-en-freebase { background-position: 0px -1650px; } /* freebase */
.authority-en-metaweb { background-position: 0px -1713px; } /* metaweb */
.authority-baseballalmanac { background-position: 0px -46px; } /* baseball alminac */
.authority-en-internet_movie_database { background-position: 1px -181px; } /* IMDB */
.authority-en-netflix { background-position: 0px -230px; } /* Netflix */
.authority-en-twitter { background-position: 0px -346px;} /* Twitter */
.authority-en-the_tvdb { background-position: 0px -402px;} /* TheTVDB */
.authority-nndb { background-position: 0px -457px;} /* NNDB */
.authority-en-wikipedia { background-position: 0px -553px;} /* Wikipedia */
.authority-en-internet_speculative_fiction_database { background-position: 0px -600px; }
.authority-en-tvrage { background-position: 0px -645px; } /* TV Rage */
.authority-en-facebook {background-position: 0px -694px;} /* facebook */
.authority-en-daylife { background-position: 0px -747px;} /* daylife */
.authority-en-traileraddict {background-position: 0px -793px;} /* trailer addict */
.authority-en-metacritic {background-position: 0px -846px;} /* metacritic */
.authority-en-clicker_com {background-position: 0px -903px;} /* clicker */
.authority-m-09tlw5n {background-position: 0px -965px;} /* chikipedia */
.authority-en-the_new_york_times { background-position: 0px -1032px; } /* NY Times */
.authority-tv {background-position: 0px -1105px;}/* tv. */
.authority-en-ellerdale {background-position: 0px -1233px;} /* ellerdale */
.authority-en-tv-guide {background-position:  0px -1286px;} /* TV Guide */
.authority-discogs {background-position: 0px -1386px;}/* discogs. */
.authority-en-myspace {background-position: 0px -1435px;} /* myspace */
.authority-en-rotten_tomatoes {background-position: 1px -1491px;} /* rottentomatoes */
.authority-m-02slcx {background-position: 0px -1541px;} /* fandango */
.authority-en-hulu {background-position: 0px -1596px;} /* hulu */
.authority-en-amazon_com {background-position: 0px -291px;} /* amazon */
.authority-en-open_library {background-position: 0 -1169px;}/* openlibrary */
.authority-en-musicbrainz {background-position: 0 -1845px;}
.authority-m-0c26vp0 { background-position: 0px -1778px;} /* videosurf */
