#filter-pane {
  margin-top: 4.8em;
  border: 5px solid #e5e5e7;
  .rounded_corners();
  .linear_gradient(#f1f2f3, #e5e6e7);
}

#filter-pane h1 {
  font-size: 16px;
  text-align: center;
}

.filter-group {
  padding: 1em;
  border-bottom: 1px solid #ddd;
}

.filter-title {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 7px;
}

#filter-pane ul {
  margin-left: 0;
  list-style: none;
  font-weight: normal;
}

#filter-pane li {
  padding-left: 0;
}

#filter-pane .text-input {
  width: 80%;
}

#filter-pane .date-input {
  width: 70px;
}

.table tbody td, .table tbody th, .table thead .row-msg td {
  padding: 3px 7px;
}

.time-range-form {
  display: none;
}
