/*

Candidates for global

*/

.section-title {
    font-weight: bold;
    font-size: 2.4em;
    color: #b3bfc2;
}

.table {
    border-top: 2px solid #d5d7d8;
    width: 100%;
}

.column-header {
    font-size: 1.1em;
    font-weight: bold;
    color: #555;
    background: #f8f8f8;
    .linear_gradient(#f8fafb, #f0f2f3, repeat);
    border-bottom: 1px solid #d5d7d8;
    padding: 5px 7px;
}

.table tbody td,
.table tbody th {
    color: #444;
    padding: 5px 7px;
    border-bottom: 1px solid #d5d7d8;
    font-size: 1.2em;
}

.odd {
    background: #e5e6e7;
}

.numeric {
    text-align: center;
}

/* Tabset */

.section-tabs {
    border: 5px solid #e4e6e7;
    .rounded_corners(10px);
    background: #fff;
}

/* section-tabset should always include a 'clear' class */
.section-tabset {
    border-bottom: 1px solid #e4e4e4;
    list-style: none;
    .linear_gradient(#fff, #ededed, repeat);
    .rounded_corners(5px);
}

.section-tab {
    float: left;
    border-right: 1px solid #e4e4e4;
}

.section-tab a {
    display: block;
    color: #666;
    padding: 10px 13px;
    font-size: 1.2em;
    font-weight: bold;
}

.current {
    .linear_gradient(#ededed, #fff, repeat);
}






.search-box form {
    margin: 2em 0 2em 13px;
}

.search-box label {
    font-size: 1.4em;
    padding-right: 1em;
}