/*
=========================
Candidates for global
=========================
*/

.section-title {
    padding-left: 5px;
    font-weight: bold;
    font-size: 2.4em;
    line-height: 1;
    margin-bottom: 10px;
    color: #b3bfc2;
}

.aside-title {
    font-size: 1.4em;
    font-weight: bold;
    color: #444;
}

.aside-box {
    background: #fff;
    border: 1px solid #d5d7d8;
    padding: 1em;
    .rounded_corners(5px);
}


/*
Tabset Style
*/

.section-tabs {
    border: 5px solid #e4e6e7;
    .rounded_corners(10px);
    background: #fff;
}

/* section-tabset should always include a 'clear' class */
.section-tabset {
    border-bottom: 1px solid #e4e4e4;
    list-style: none;
    .linear_gradient(#fff, #ededed, repeat);
    .rounded_corners(5px);
}

.section-tab {
    float: left;
    border-right: 1px solid #e4e4e4;
}

.section-tab a {
    display: block;
    color: #666;
    padding: 10px 13px;
    font-size: 1.2em;
    font-weight: bold;
}

.current {
    .linear_gradient(#ededed, #fff, repeat);
}


/*
Search Tabset
*/

.search-box {
    margin: 2em 0 2em 13px;
}

.search-box label {
    font-size: 1.4em;
    padding-right: 1em;
}

.search-box form,
.search-box fieldset {
    display: inline;
}

.text-input {
    -webkit-transition-property: border, -webkit-box-shadow;
    -webkit-transition-duration: 0.3s;
    font-size: 1.4em;
    border: 1px solid #e0e0e0;
    padding: 5px 7px;
    width: 300px;
    .rounded_corners(5px);
}

.text-input:focus {
    border-color: #61d7f7;
    .box_shadow(0px, 0px, 3px, #aaa);
}

/*
Breadcrumbs
*/

.breadcrumb ol,
.breadcrumb ul {
    margin-left: -1em;
    list-style: none;
}

.breadcrumb-item {
    float: left;
    background: url(template, breadcrumb.png) no-repeat right center;
    line-height: 1;
    font-size: 1.2em;
    font-weight: bold;
    color: #e4e6e7;
}

.last {
    background-image: none;
}

.breadcrumb a {
    display: block;
    color: #e4e6e7;
    padding: 0.8em 15px;
}

/*

XXX What do we call these page headers?

*/

.page-meta {
    position: relative;
    background: #fff;
    border: 5px solid #e4e6e7;
    .rounded_corners(10px);
    padding: 1em;
}

.page-meta h1 {
    font-size: 2.4em;
    color: #64768f;
    line-height: 1;
}

.page-meta h1 .key {
    font-size: 12px;
    color: #666;
}

.creation-timestamp {
    position: absolute;
    top: 0;
    right: 0;
    background: #e4e6e7;
    padding: 0 0.7em;
    font-size: 1.2em;
    line-height: 3;
    border: 1px solid #e4e6e7;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}

.creation-timestamp .user-image {
    float: left;
    margin-right: 3px;
}

.creation-timestamp .user-image img {
    border: 3px solid #dcdedf;
}

.creation-timestamp .published {
    color: #333;
}

/*
User thumbnail list
*/


.user-list-title {
    margin: 0.8em 0;
    font-size: 1.2em;
    font-weight: bold;
}

.user-list .vcard {
    list-style: none;
    float: left;
    margin-right: 7px;
}

/*
Icon Links
*/

.icon-link span {
    padding: 3px 0 2px 22px;
    background: url(ui-icons.png) no-repeat;
    height: 16px;
}

.icon-link:hover {
    text-decoration: none;
}

span.query-icon {
    background-position: 0 -21px;
}

span.edit-icon {
    background-position: 0 -64px;
}



/*
---------------------------
Schema Styling
---------------------------
*/


/*
Landing Page
*/

#content-wrapper {
    padding-right: 270px;
}

#content-main {
    float: left;
    display: inline;
    margin-right: -100%;
    width: 100%;
}

#content-sub {
    float: right;
    display: inline;
    width: 27em;
    margin-right: -27em;
    margin-top: 5px;
    position: relative;
}

#content-sub p,
#content-sub ul {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

#content-sub ul {
    font-weight: bold;
    margin-left: 17px;
}

#content-sub ul li {
    padding: 0.2em 0;
}

#content-sub h3 {
    font-size: 1.4em;
    font-weight: bold;
}

#content-sub .content-wrapper {
    margin-left: 3em;
}

#schema-search {
    margin-bottom: 2em;
}

.aside-box {
    margin-bottom: 1em;
}

.aside-box h4 {
    font-size: 1.3em;
}

.aside-box table {
    width: 100%;
    margin-left: 17%;
    font-size: 1.1em;
}

.is-a,
.has-a {
    color: #444;
    padding-right: 5px;
}

.kind {
    color: #888;
    padding-right: 5px;
}

/*
Type Page
*/

.meta {
    background: url(ui-icons.png) no-repeat 0 -172px;
    padding-top: 8px;
    padding-left: 25px;
    margin-left: 7px;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    line-height: 1;
}

.meta .key,
.meta .included-types,
.meta .display-type {
    padding-right: 7px;
}

.page-meta #description p {
    font-size: 1.2em;
    width: 80%;
}

.property-meta {
    font-weight: bold;
    font-style: italic;
}

.page-meta .nav {
    border-top: 1px solid #e4e6e7;
    margin: 1em -1em -1em;
}

.nav-utilities { 
    float: right;
}

.nav-mode li,
.nav-utilities li {
    float: left;
    list-style: none;
    line-height: 1;
}

.nav-mode li {
    border-right: 1px solid #e4e6e7;
}

.nav-utilities li {
    border-left: 1px solid #e4e6e7;
}

.nav-mode a,
.nav-utilities a {
    display: block;
}

.nav-mode a {
    font-size: 1.4em;
    line-height: 2.5;
    font-weight: bold;
    padding: 0 1em;
    color: #888;
    background: #efefef;
    .linear_gradient(#fff, #ececec);
}

.nav-mode a.current {
    background: #fff;
    .linear_gradient(#ececec, #fff);
}

.nav-utilities li a {
    font-size: 1.2em;
    line-height: 2.9;
    padding: 0 1.2em;
}

.row-menu {
    display: none;
    list-style: none;
    background: #fff;
    width: 130px;
    border: 1px solid #c4c6c7;
    .rounded_corners(5px);
    .box_shadow();
}

.row-menu-item {
    border-bottom: 1px solid #c4c6c7;
}

.row-menu-item.last {
    border: 0;
}

.row-menu-item a  {
    display: block;
    font-size: 0.9em;
    padding: 0.5em 0.8em;
    line-height: 1;
}

/*
    XXX: this should likely be in freebase.table.less
    waiting until we have the sprites sorted out
*/
.tbody-header-title {
    padding-left: 16px;
    background: url(ui-icons.png) no-repeat 0 -83px;
}

.tbody-header-title.expanded {
    background-position: 0 -129px;
}

tr:hover .tbody-header { background: #f8f8f8; }

tr:hover .tbody-header-title {
    background-position: 0 -99px;
}

tr:hover .tbody-header-title.expanded {
    background-position: 0 -143px;
}

.tbody-header-title:hover {
    cursor: pointer;
    background-position: 0 -115px;    
}

.tbody-header-title.expanded:hover {
    background-position: 0 -156px;
}
