/*
Breadcrumbs
*/

.breadcrumb ol,
.breadcrumb ul {
    margin-left: -1em;
    list-style: none;
}

.breadcrumb-item {
    float: left;
    background: url(breadcrumb.png) no-repeat right center;
    line-height: 1;
    font-size: 1.2em;
    font-weight: bold;
    color: #e4e6e7;
}

.breadcrumb .breadcrumb-item-inner {
    display: block;
    padding: 5px 9px 5px 7px; 
}

#breadcrumb-siblings {
    display: none;
    z-index: 1;
    width: 200px;
    background: #222;
    padding: 5px;
    border: 1px solid #222;
    .rounded_corners(5px);
}

#breadcrumb-siblings strong {
    display: block;
    padding-left: 5px;
    margin-bottom: 3px;
    font-size: 10px;
    color: @pale-orange;
}

#breadcrumb-siblings ul {
    background: #fff;
    height: 175px;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

#breadcrumb-siblings a {
    display: block;
    color: @link-blue;
    font-weight: normal;
    padding: 3px 5px;
    border-bottom: 1px solid #d5d7d8;
}

.last {
    background-image: none;
}

.breadcrumb-item-inner a {
    display: block;
    position: relative;
    z-index: 2;
    padding: 4px 7px;
    color: #e4e6e7;
}

.breadcrumb-item-inner a.breadcrumb-sibling-trigger {
    background: url(ui-icons.png) no-repeat right -248px;
    padding-right: 22px;
}

.breadcrumb-item a.active {
    background: #222 url(ui-icons.png) no-repeat right -226px;
    .rounded_corners(5px);
}

