div.cuecard-outputPane {
    overflow: hidden;
}

div.cuecard-outputPane-tabBody.ui-tabs-panel {
    padding: 10px 20px;
}

div.cuecard-outputPane-tabBody {
    position: relative;
}

div.cuecard-outputPane-status {
    position: absolute;
    overflow: auto;
}

textarea.cuecard-outputPane-textarea {
    position: absolute;
    display: block;
    margin: 0px;
    border: none;
    font-family: monospace;
    font-size: 10pt;
}

.cuecard-outputPane-tree {
    position: absolute;
    overflow: auto;
}

a.cuecard-outputPane-tree-explore {
    vertical-align: super;
    font-size: 80%;
    color: #aaf;
}

div.cuecard-outputPane-tree-objectBody {
}

div.cuecard-outputPane-tree-objectField {
    position: relative;
    padding-left: 16px;
}

div.cuecard-outputPane-tree-arrayBody {
}

div.cuecard-outputPane-tree-arrayElement {
    position: relative;
    padding-left: 16px;
}

img.cuecard-outputPane-tree-toggle {
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
}

.cuecard-outputPane-tree-memberName {
    color: #888;
}

.cuecard-outputPane-tree-toggles {
    color: #ddd;
}

a.cuecard-outputPane-tree-all {
    font-size: 80%;
    color: #ff6600;
}

a.cuecard-outputPane-tree-flipControl {
    font-size: 80%;
    color: #ff6600;
}

a.cuecard-outputPane-tree-dataLink {
    color: #000088;
}

.cuecard-outputPane-tree-normalMode > div > span > a.cuecard-outputPane-tree-flipControl {
    display: none;
}

.cuecard-outputPane-tree-flipMode > div > span > a.cuecard-outputPane-tree-flipControl {
    display: inline;
}

.cuecard-outputPane-responseHeaders a {
    text-decoration: underline;
}

.cuecard-outputPane-responseHeaders h3 {
    margin: 1em 0;
}

.cuecard-outputPane-responseHeaders table {
    width: 100%;
    margin-bottom: 1em;
}

.cuecard-outputPane-odd {
    background: #eee;
}

.cuecard-outputPane-even {
}

div.cuecard-outputPane-tree-popup {
    position: absolute;
    z-index: 1000;
}

div.cuecard-outputPane-tree-popup-article {
    background: #FFFFE0;
    border: 1px solid #ddd;
    padding: 1em;
    font-size: 10px;
    width: 28em;
}

div.cuecard-outputPane-tree-popup-topic {
    background: #FFFFE0;
    border: 1px solid #ddd;
    padding: 1em;
    font-size: 9px;
    width: 28em;
}

.cuecard-outputPane-tree-popup-topic .freebase-hotshot-container {
    height: 13em;
    overflow: hidden;
}

div.cuecard-outputPane-tree-popup-topic td{
    vertical-align: top;
}

.cuecard-outputPane-tree-popup-topic .freebase-hotshot-links {
    display: none;
}

.cuecard-outputPane-cost-important td {
    font-weight: bold;
    color: #f33;
}