#cuecard-examples-dialog {
    position: relative;
    overflow: hidden;
}

.cuecard-examples-dialog-columnHeader {
    font-weight: bold;
    position: absolute;
    top: 10px;
    height: 20px;
}
.cuecard-examples-dialog-columnBody {
    position: absolute;
    top: 35px;
    overflow: auto;
    border: 1px solid #ccc;
}

.cuecard-examples-dialog-column-0 {
}

.cuecard-examples-dialog-column-1 {
}

.cuecard-examples-dialog-column-2 {
}

a.cuecard-examples-example {
    display: block;
    text-decoration: none;
    padding: 0.25em 0.5em;
    border-bottom: 1px solid #ddd;
}

a.cuecard-examples-example:hover {
    background: #eee;
}

.cuecard-examples-example-selected {
    background: #FFFFE0;
}

a.cuecard-examples-technique {
    display: block;
    text-decoration: none;
    padding: 0.25em 0.5em;
    border-bottom: 1px solid #ddd;
}

a.cuecard-examples-technique:hover {
    background: #eee;
}

.cuecard-examples-technique-selected {
    background: #FFFFE0;
}

textarea.cuecard-examples-query {
    border: 1px solid #ccc;
    font-family: monospace;
    font-size: 9pt;
}