div.cuecard-controlPane {
    height: 100%;
}

div.cuecard-controlPane-tabBody.ui-tabs-panel {
    padding: 10px 20px;
}

div.cuecard-controlPane-tabBody {
    overflow: auto;
}

div.cuecard-controlPane-tabBody input {
    vertical-align: middle;
}

.cuecard-controlPane-tabBody button {
    margin-left: 0;
}

.cuecard-controlPane-configurations td {
    padding: 2px;
}

.cuecard-controlPane-configurations select {
    width: 8em;
}

select.cuecard-controlPane-configurations-languages {
    width: 20em;
}

div.cuecard-controlPane-configurations-cursor {
    padding: 1em;
}
.cuecard-controlPane-configurations-cursor input{
    display: block;
    width: 100%;
    margin-bottom: 0.25em;
}

.cuecard-controlPane-explanation {
    margin-bottom: 1em;
}

.cuecard-controlPane-hint {
    color: #888;
    font-size: 80%;
    padding: 0.25em 0 0.5em 0;
}

.cuecard-controlPane .ui-tabs .ui-tabs-nav li a {
    padding: 0.15em 1em;
}

.cuecard-controlPane-section table {
    border-collapse: separate;
    border-spacing: 10px;
}

.cuecard-controlPane-powerTool {
    margin-bottom: 1em;
}

.cuecard-controlPane-powerTool button {
    margin-left: 0;
}

div.cuecard-controlPane-powerTool-hint {
    color: #aaa;
    font-size: 80%;
    margin-top: 0.25em;
}


.cuecard-controlPane-variables {
    width: 100%;
    border-collapse: collapse;
}

.cuecard-controlPane-variables th {
    padding: 2px;
    text-align: left;
    font-weight: bold;
}
.cuecard-controlPane-variables td {
    padding-right: 2px;
    padding-bottom: 2px;
}
.cuecard-controlPane-variables td input {
    width: 100%;
    border: 1px solid #ddd;
}

.cuecard-controlPane-customEnvelope {
    width: 100%;
    border-collapse: collapse;
}

.cuecard-controlPane-customEnvelope th {
    padding: 2px;
    text-align: left;
    font-weight: bold;
}
.cuecard-controlPane-customEnvelope td {
    padding-right: 2px;
    padding-bottom: 2px;
}
.cuecard-controlPane-customEnvelope td input {
    width: 100%;
    border: 1px solid #ddd;
}