#content {
    margin: 2em auto;
    width: 96em;
    padding-top: 0;
}

/*
----------------------------
DOMAIN EXPLORER
----------------------------
*/

#domain-explorer {
    float: left;
    width: 63em;
    border: 1px solid #dcdbdc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
}

#domain-explorer-title {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1;
    color: #404859;
    padding: 8px 10px;
    border-bottom: 1px solid #dcdbdc;
    background: #f9f9f9;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}

#domain-explorer-tabset {
    position: relative;
    z-index: 10;
    height: 1%;
}

#pointer {
    display: none;
    position: absolute;
    left: 0;
    z-index: 10;
    width: 204px;
    height: 40px;
    background: url(explore-sprite.png) no-repeat 0 -262px;
}

#pointer-text {
    display: block;
    padding: 12px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 1;
}

#domain-explorer-tabs {
    float: left;
    width: 19em;
    background: #f6f6f6;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
}

#domain-explorer-tabs li {
    font-size: 1.4em;
    line-height: 1;
    font-weight: normal;
    border-bottom: 1px solid #dcdbdc;
    list-style: none;
}

#domain-explorer-tabs li a {
    display: block;
    color: #888;
    padding: 12px 10px;
}

#domain-explorer-tabs li a:hover {
    text-decoration: none;
}

#domain-explorer-tabs li.processing span {
    background: url(loader-sm-snake-black.gif) no-repeat center right;
    padding-right: 20px;
}

#domain-explorer-tabs li.current a {
    color: #fff;
}

.domain-explorer-pane {
    float: left;
    padding: 1em 0;
    background: #fff;
    width: 43.9em;
    border-left: 1px solid #dcdcdc;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    display: none;
}

.domain-explorer-list {
    list-style: none;
    margin: 0 2em;
}

.domain-explorer-list li {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #cdcbcd;
}

.domain-explorer-list p {
    margin-bottom: 0.6em;
}

.domain-explorer-list .explore-link {
    font-size: 1.2em;
}

.domain-title {
    margin-bottom: 0.5em;
}

.domain-title a {
    font-size: 18px;
    font-weight: normal;
    color: #404859;
}

.domain-title .topic-count {
    font-size: 14px;
    color: #aaa;
}

#pane-all ul {
    margin-left: 3.5em;
    font-size: 1.2em;
}

#pane-all .letter {
    display: block;
    font-size: 1.4em;
    margin: 5px 25px;
    padding-left: 5px;
    border-bottom: 1px solid #a9a9a9;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.domains-toc {
    margin: 5px 25px;
    font-size: 1.2em;
    text-transform: uppercase;
}


/*
---------------------
CONTENT SUB
---------------------
*/

#content-sub {
    float: left;
    margin-left: 3em;
    width: 27em;
}

#content-sub h3 {
    color: #f71;
    font-size: 1.6em;
}

#content-sub h4 {
    font-weight: bold;
    color: #404859;
}

#content-sub p {
    margin-bottom: 1em;
}
