body { background: #fff; }

.fixed {
  width: 90%;
}

#collection-summary {
    font-family: "Georgia", serif;
    font-style: italic;
    color: #666;
    font-size: 1.4em;
}

.collection {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 30em;
}

.collection-inner {
    position: relative;
    -webkit-transition-property: -webkit-box-shadow, background-image, opacity;
    -webkit-transition-duration: 0.3s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: 0.8;
    padding: 10px 10px 40px;
    -webkit-box-shadow: 0 0 3px #aaa;
    -moz-box-shadow: 0 0 3px #aaa;
    box-shadow: 0 0 3px #aaa;
    box-shadow: 0 0 3px #aaa;
    color: #333;
}

.collection-inner:hover {
    cursor: pointer;
    opacity: 1;
    background: #ececec;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#dcdcdc));
    background-repeat: repeat;
    -webkit-box-shadow: 0 0 8px #666;
    -moz-box-shadow: 0 0 8px #666;
    box-shadow: 0 0 8px #666;
    text-decoration: none;
}

.collection-img {
  border: 1px solid #fff;
  position: relative;
  height: 150px;
  overflow: hidden;
}

.collection-img img {
  position: absolute;
  left: 0; top: 0;
}

.collection-info {
  position: absolute;
  top: 162px; left: 10px;
  width: 280px;
  background: #fff;
}

.collection h1 {
  position: relative;
  border: 1px solid #fff;
  font-size: 1.4em;
  line-height: 1;
  padding: 6px 0;
  border-top: 0;
  color: #7a7a7a;
  margin: 0; 
}

a.collection-title {
    display: inline-block;
    width: 253px;
    white-space: nowrap;
    padding: 0 3px;
    overflow: hidden;
    color: #555;
}

.collection-show-topics {
    display: none;
    position: absolute;
    right: 3px;
    top: 7px;
    text-indent: -9999px;
    background: url(icon-chiclet.png) no-repeat -13px 0;
    height: 12px; width: 12px;
}

.collection-active .collection-show-topics                { display: block; } /* only show icon on .collection hover */
.collection-active .collection-show-topics:hover          { background-position: -26px 0; } /* normal hover */
.collection-active .collection-show-topics.expanded       { background-position: -39px 0; } /* expanded state */
.collection-active .collection-show-topics.expanded:hover { background-position: -52px 0; } /* expanded state hover */

.collection:hover h1 {
    background: #f8f8f8;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#dcdcdc));
    background-repeat: repeat;            
}
        
.collection-topics {
  display: none;
  margin-left: 10px;
  height: 95px;
}

.collection-topics.loading {
    background: url(topic-loader.gif) no-repeat center center;
}

.collection-info h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 5px;
  color: #666;
  margin-bottom: 0;
}

.collection-info ul {
  padding-bottom: 10px;
}

.collection-info li {
  float: left;
  width: 31%;
  margin-right: 1%;
}

.collection-info li span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}