/*
 * Copyright 2012, Google Inc.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 *     * Redistributions of source code must retain the above copyright
 * notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above
 * copyright notice, this list of conditions and the following disclaimer
 * in the documentation and/or other materials provided with the
 * distribution.
 *     * Neither the name of Google Inc. nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 * THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#browse tbody th,
#browse tbody td {
  font-size: 14px;
  border-color: #e9ebee;
}

#browse tbody th {
  background-color: #dee1e4;
}

#browse tbody th a {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#browse td.key {
  color: #777;
}

#browse td.facts,
#browse td.topics {
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 1px 1px #fff;
  line-height: 1.8;
}

#browse .wrapper {
  padding: 5px 10px;
  position: relative;
}

#browse .wrapper .value {
  position: relative;
  z-index: 1;
}

#browse .wrapper .bar {
  position: absolute;
  top: 0;
  bottom: 0;
  .transition(background-color, 200ms, ease-out);
  -webkit-animation-name: grow;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
} 

.topics .bar {
  right: 0;
  background-color: #c5dbe9;
}

.facts .bar {
  left: 0;
  background-color: #d6b7ad;
}

table:hover .topics .bar {
  background-color: #aed1e5;
}


table:hover .facts .bar {
  background-color: #ca9582;
}
