/*
---------------------
EXPLORE
---------------------
*/

#apps-search {
  margin-bottom: 2em;
}

#app-buttons-right {
  float:right;
}

.rss-icon {
  background: url(template, ui-sprite.png) no-repeat -100px left;
  display : inline-block;
  text-indent: -3000px;
  width: 14px;
  height: 14px;
}

.acre-box {
  border: 2px solid #b2bbc7;
  background: #444;
  .linear_gradient(#666666, #232323, repeat);
  .rounded_corners(5px);
  padding: 2.2em 1em 1em;
  text-align: center;
  margin: 3em 0 1.5em 0;
  color: #ccc;
}

.acre-box h2 {
  font-size: 1.6em;
  color: #fff;
}

.acre-box ul  {
  margin: 0.8em 0;
  text-align: left;
}

.acre-box li  {
  text-align: left;
}

.acre-box .more-link {
  display: block;
  text-align: right;
  color: #fb3;
  font-weight: bold;
}

.aside-box {
  position: relative; 
  background: #fff; 
  border: 1px #cdf solid; 
  .rounded_corners(4px);
  padding: 12px 0;
}

.aside-box img { 
  padding: 4px 0 6px 12px; 
}

.aside-box h2 { 
  font-size: 1.8em;
  line-height: 1;
  color: #999; 
  padding: 0 4px 12px 12px; 
  margin: 0 0 4px 0; 
  border-bottom: 1px solid #ddd;
}

.aside-box h2.norule { 
  padding-bottom: 0; 
  border-bottom: 0; 
}

.aside-box h2.stacked { 
  margin-top: 5px; 
  padding-top: 12px; 
  border-top: 1px solid #cdf;
}

.aside-box h3 { 
  border-top: 1px solid #ddd; 
  font-size: 1.2em; 
  margin: 12px 0 0 0; 
  padding: 12px 12px 0 12px;
}

.aside-box p { 
  font-size: 1.1em; 
  padding: 4px 12px; 
  line-height: 1.1em;
}

.aside-box ul { 
  color: #f71; 
}

.aside-box li { 
  list-style: disc outside; 
  margin: 8px 15px; 
  font-size: 1.1em;  
  line-height: 1.1em;
}

.aside-box li h5 { 
  font-size: 1.1em; 
  color: #7788aa; 
  margin: 0 0 3px 0;
}

.aside-box li .details { 
  color: #666; 
}

.aside-box li .actions { 
  float: right; 
}

.applist-version {
  padding: 0 .5em;
  font-size: 0.8em;
  font-weight: bold;
  color: #999;
}

.applist-details {
  font-size: 0.9em;
}

.app-title {
  font-weight: bold;
}

.table td.applist-userimage {
  white-space: nowrap;
  padding: 2px 50px 2px 2px;
}

.table td.applist-userimage .user-image {
  padding: 0 5px 0 0 !important;
  float: left;
}

/*
---------------------
CREATE
---------------------
*/


#body-left-half {
  float: left;
  width: 455px; 
  margin: 0 0 50px 0;
}

#body-right-half { 
  float: right; 
  width: 455px;  
  margin: 0 30px 50px 0;
}

#addacreapp-header { 
  border-bottom: 1px solid #edf1f3; 
  padding-bottom: 10px;
}

#addacreapp-list { 
  width: 190px; height: 300px; 
  margin: 0 0 -12px 0; 
  border-right: 1px solid #edf1f3; 
  overflow: auto; 
}

#addacreapp-list li { 
  font-size: 1.2em; 
  padding: 6px; 
  font-weight: bold; 
}

#addacreapp-list li.selected { 
  background: #edf1f3; 
}

#addacreapp-form { 
  position: absolute; 
  top: 100px; right: 30px; 
  margin: 0 0 0 190px; 
  width: 440px; height: 400px;
}

#addapp h2 {
  color:#f71; 
  font-size: 2em; 
  margin: 0 0 12px 12px;
}
#addapp h3 {
  margin-bottom: 5px;
}

.content-box dl { 
  padding: 0 0 8px 0;
}

.content-box dt { 
  font-size: 1.8em; 
  margin: 20px 10px -5px 10px;
}

.content-box p { 
  font-size: 1.4em; 
  margin: 8px 10px; 
}

.content-box h3 { 
  font-size: 1.4em; 
  font-weight: bold; 
  margin: 8px 12px 0 12px;
}

.content-box h3.right { 
  float: right;
}


/*
---------------------
VIEW
---------------------
*/
.app-icon { 
  float: right; 
  margin: 18px 0 12px 12px; 
  border: 1px solid #ccc; 
  background: #ddd repeat-x 0 0; 
}

.app-description p {
  font-size: 1.3em;
  margin: 12px 0 0 0; 
}

.app-actions {
  margin: 8px 0 0 0;
  padding: 8px 0 0 0;
  border-top: #ddd 1px solid;
}


/*
---------------------
EDIT
---------------------
*/

.box-form {
  margin: 12px 0;
}

.box-form p { 
  font-size: 1.3em; 
  position: relative; 
  line-height: 1.4em; 
  width: 420px; 
  margin: 5px 0;
}

.box-form label { 
  position: absolute; 
  top: 2px; right: 305px; 
  width: 120px; 
  text-align: right; 
}

.box-form input, .box-form textarea, .box-form select { 
  margin: 0 0 0 120px; 
}

.box-form input[type=text] { 
  width: 400px;
}

.box-form textarea { 
  width: 400px; height: 300px; 
}

.box-form .description { 
  margin-bottom: 40px; 
}

#icon_form {
  position: absolute;
  left: 70px;
  top: 180px;
}

#icon_form p { 
  font-size:1.3em; 
  line-height:1.4em; 
  white-space: nowrap; 
  overflow: hidden;
}

.box-modechooser { 
  margin: 4px 0 16px 30px;
}

.box-modechooser input { 
  margin: 0 2px 0 0; 
}

.box-modechooser li { 
  display: inline; 
  padding: 0 0 0 25px; 
  font-size: 1.8em; 
  color: #f71; 
}

.markdownlink { 
  font-size: 0.8em; 
  line-height: 1.2em; 
  margin-top: 8px; 
  display: block; 
}

